.title{
    padding: 100;
    margin: 10;
    color: teal;
    border-bottom: 2px solid gray;
 }
 .item{
     padding: 10px;
     margin: 10px;
     background-color: teal;
     color: white;
     border: 2px solid lightgray;
     border-radius: 5px;
     width: 300px;
     height: 200px;
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .items{
    text-align: center;
    display: flex;
    justify-content: center;
 }